#Python 3.14.3
annotated-doc
annotated-types
anyio
attrs
Authlib
backoff
beartype
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
colorlog
croniter
cryptography
cyclopts
diskcache
distro
dnspython
docstring_parser
docutils
email-validator
exceptiongroup
fakeredis
fastapi
fastapi-standalone-docs
fastmcp
filetype
google-ai-generativelanguage
google-api-core
google-auth
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httpx
httpx-sse
idna
importlib_metadata
jaraco.classes
jaraco.context
jaraco.functools
jsonpatch
jsonpointer
jsonref
jsonschema
jsonschema-path
jsonschema-specifications
jsonschema_pydantic
keyring
langchain
langchain-core
langchain-google-genai
langchain-ollama
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
lupa
markdown-it-py
mcp
mcp-use
mdurl
more-itertools
ollama
openapi-pydantic
opentelemetry-api
orjson
ormsgpack
packaging
pathable
pathvalidate
platformdirs
posthog
prometheus_client
proto-plus
protobuf

# Database (Docker-safe)
psycopg2-binary

py-key-value-aio
py-key-value-shared
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pydocket
Pygments
PyJWT
pyperclip
python-dateutil
python-dotenv
python-json-logger
python-multipart
pytz

# Windows-only (ignored in Docker/Linux)
pywin32; platform_system == "Windows"
pywin32-ctypes; platform_system == "Windows"

PyYAML
redis
referencing
requests
requests-toolbelt
rich
rich-rst
rpds-py
rsa
scarf-sdk
shellingham
six
sortedcontainers
SQLAlchemy
sse-starlette
starlette
tenacity
typer
typing-inspection
typing_extensions
tzdata
urllib3
uuid_utils
uvicorn
websockets
xxhash
zipp
zstandard


# For mock - mcp server

fastmcp
fastapi
uvicorn[standard]
httpx
wsproto